*~
#*#
jquery.min.js
memo.txt
tmp/
node_modules
versus/nohup.out
package-lock.json
versus/bushubu.css
versus/bushubumaker.js
versus/fragtable*.txt
versus/frontend_kpuzzle.js
versus/run.pid
versus/srvqlist.json
versus/webfont
webfont/dump_newest_only.txt
webfont/svg/
dicts/_*
