body {
  padding:0;
  margin:0;
}
@font-face {
  font-family: "glyphwiki";
  src: url("glyphwikiCDP.woff");
}
@media screen and (max-width:600px){
    .topbox {
        width:100%;
    }
    #qex, #daily {
        min-width: 0;
    }
}
/* top */
#top {
    display:flex;
    flex-wrap: wrap;
}
.topbox {
    border-radius:10px;
    margin: 10px;
    border: 1px solid #950;
    text-align:left;
    padding:5px;
}
.topbox h4,
#menu h4 {
    border-radius:20px;
    display:inline-block;
    border: 1px solid #ccc;
    padding: 0 6px;
    margin: 0px;
    font-weight: normal;
    background-color: #fdc;
}
#daily:hover {
    background-color: #bdc;
    cursor:pointer;
}
#qex, #daily {
    text-align: center;
}
#example, #example_answer {
    display:inline-block;
}
#erase_resume {
    float:right;
    height:22px;
    width:22px;
}

/* #quiz */
div.sbox {
   position:absolute;
   width:100%;
   height:100%;
   pointer-events:none;
}
div.elm {
  border:1px solid #88f;
  box-sizing: border-box;
  background-color: #eee;
  pointer-events:initial;
}
div.qelm {
  background-color: #cce;
}

div.glyph {
  font-family: MS Gothic;
  position:relative;
  width:60px; height:60px; 
  border:1px solid black; 
  box-sizing: border-box;
  display:inline-block;
  margin-right: 5px;
  cursor: pointer;
}

div.glyph div.judge {
    font-family: MS Gothic;
    position:absolute;
    width:40px;
    height:40px;
    top:10px;
    left:10px;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    color:red;
    text-align:center;
    z-index: 6;
}

div.correct {
  line-height: 58px; /* glyph decrements 2 */
  font-size:58px;
  display:none;
  pointer-events:none;
  position:absolute; 
  bottom:0; left:0; right:0; top:0;
}

.log {
    border: solid #eb2 1px;
    background: #ffc;
    display: inline-block;
    width: 55px;
    white-space: nowrap;
    padding: 0;
    overflow: hidden;
    line-height: 16px;
    text-align: center;
    margin-right: 1px;
}

.logdetail {
    width:auto;
    text-align:left;
    padding:1px;
    background:#fec;
}
.log .logdate {
    line-height: 12px;
    font-size: 12px;
}
.log .logscore {
    margin:0;
    line-height:20px;
    font-size:20px;
    border:none;
    background:none;
    padding:0;
}
.log .logscore span {
    font-size:15px;
}
.log .logdate span {
    margin-left:5px;
}
.log:not(.logdetail) .logdate span,
.log:not(.logdetail) .logscore span {
    display: none;
}

div.glyph.hiragana,
div.glyph.hiragana div.elm {
    border-radius:30px;
}

div.glyph.hiragana div.elm div.kpart,
div.glyph.hiragana div.correct {
    text-align:center;
    font-size:40px;
}

div.word {
    border: 1px solid green;
    display:inline-block;
    padding: 0 0 0 5px;
    margin: 5px;
    background-color: #eee;
}

div.word div.wid {
    width:100%;
    color:green;
    background-color:none;
    font-size:12px;
    font-family:monospace;
    text-align:right;
}

div.glyph.selected .elm {
    //background-color: #ecc;
    border-color: red;
}

div.glyph.selected {
    border-color: red;
}
div.kidx {
    width:100%; position:absolute; text-align:center; color:blue; z-index:2;
    top:0; height:16px; line-height:16px;
}

div.kpart {
    font-family: "glyphwiki";
    color: black;
    width: 100%;
    position: absolute;
    text-align: center;
    z-index: 1;
    pointer-events: none;
    top: 0;
    bottom: 0;
    margin: auto;
}

#judge {
    position:absolute; right:10px; bottom:10px; display:none;
    font: 30pt bold;
}
#keyinput {
    display:inline-block;
    padding:0; 
    position: absolute;
    z-index:4;
}
.userans, .usercmd {
    width:300px;
    height:30px;
    font-size:30px;
    border:3px solid #8c8;
    background-color:#efe;
}

#g_log, #score {
    display:none;
}

#discover {
    background-color:#8c8;
    font-family:glyphwiki;
}

div.cdp {
    width:20px; height:20px;
    display:inline-block;
}

#message {
    display:none; width:300px; height:130px; 
    position:absolute; bottom:0; left:0; right:0; top:0;
    background-color:#bcc; margin:auto; border:2px solid gray; 
    border-radius:100px; line-height:25px; z-index:4;
}

/* #menu */
#archives {
    text-decoration: underline;
    cursor:pointer;
}

#qlists, #newest {
    display: flex;
    flex-wrap: wrap;
}

.qoption {
    width: 240px; margin: 0 2px 5px 2px;
    display:block; border:1px solid gray; min-height:80px;
    cursor:pointer;
    line-height: 20px;
    position:relative;
    z-index:1;
}
.qoption.selected .loading, #daily .loading {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    opacity:0;
    line-height:80px;
    font-size:60px;
    text-align:center;
    z-index:0;
    color:#008;
}

.qoption:hover {
    background-color: #bdc;
}

.qoption.resume {
    background-color: #faa;
    border: #f22 solid 1px;
}
.qoption.resume:hover {
    background-color: #fca;
    border: #f22 solid 1px;
}
    
.qid {
    border-radius:20px; float:left; background-color:#9df;
    position:relative;
    width:40px; height:40px; line-height:40px;text-align:center;
}

.qclear {
    position:absolute;
    left:0;
    right:0;
    top:0;
    color:red;
    height:40px;
    font-size:40px;
    display:none;
}

.qoption.cleared .qid .qclear {
    display:block;
}

.qinfo {
    color: #66a;
    margin-left: 4px;
    float:left;
    height:40px;
    line-height:20px;
    white-space:nowrap;
}
.qdesc {
    margin: 0 5px;
    clear:both;
    display:block;
    font-size:12pt;
    width:auto;
}

/* #makequiz */
h2 {
    margin:2px;
    background-color: #dca;
    font-size:12pt;
}

.fkana {
    font-size:80%;
    color: #338;
//    white-space:nowrap;
//    position:relative;
//    display:inline-block;
//    overflow:hidden;
}
.fword {
    position:relative;
    display:inline-block;
}
.fchar, .fword {
    cursor: pointer;
}
.fchar.selected, .fword.selected {
    border: 1px solid gray;
    font-size: 150%;
}
.maskr {
    color:red;
}
.maskb {
    color:blue;
}
.maskp {
    color:#f80;
}
.maskc {
    color:#08f;
}
    
.barekey, .fragkey, .statparts, .cdpf, #parts, #redefine {
    font-family: "glyphwiki";
}

.setpartbox {
    margin:0 1px 1px 0;
    line-height:10px;
    font-size: 10px;
    width:20px;
    height:30px;
    overflow:hidden;
    display:inline-block;
}

.setpart {
    font-family: glyphwiki;
    cursor: pointer;
    line-height:20px;
    font-size: 18px;
    width:20px;
    height:20px;
    background-color:#ccc;
    display:inline-block;
}

.setpartbox.selected {
    overflow:visible;
}
.setpartbox.selected .setpart {
    width: 40px;
    height: 40px;
    line-height:40px;
    font-size: 38px;
    position:relative;
    left: -10px;
    border: 1px solid white;
}

#parts, #chars, #nchars, #numof {
    width:100px;
}

#frequents label {
    display:inline-block;
    background-color:#ccc;
    border-radius:12px;
    border:1px solid #080;
    font-size:12px;
    padding:0 5px;
}
#frequents span {
    display:inline-block;
    color:#008;
    /* text-decoration: underline; */
    font-family:glyphwiki;
    height:24px;
    line-height:24px;
    cursor:pointer;
}
#frequents span:hover {
    background-color:#ccc;
}
.setpart:hover {
    background-color:#888;
}
